{% extends 'base.html.twig' %}
{% block title %} Dependentes | RH {% endblock %}
{% block content %}
<div id="top" class="row">
    <div class="col-sm-9">
        <h3>Lista de Dependentes  {% if funcionario is defined%} - {{ funcionario.nome}}{% endif %}  </h3>
    </div>

    <div class="col-sm-3" style="margin-bottom: 10px">
        <a href="{{ path('dependente_new', { 'id': funcionario.id })  }}" class="btn btn-primary pull-right h1">NOVO</a>
    </div>

</div> <!-- /#top -->

<table class="table table-bordered">
        <thead>
            <tr>
                <th>#</th>
                <th>Nome</th>
                <th>Datanascimento</th>
                <th>Parentesco</th>
                <th>Createdat</th>
                <th>Updatedat</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% set counter = 0 %}
        {% for dependente in dependentes %}
            <tr>
                <td>{% set counter = counter + 1 %} {{ counter }}</td>
                <td>{{ dependente.nome }}</td>
                <td>{% if dependente.dataNascimento %}{{ dependente.dataNascimento|date('d-m-Y') }}{% endif %}</td>
                <td>{{ dependente.parentesco }}</td>
                <td>{% if dependente.createdAt %}{{ dependente.createdAt|date('d-m-Y H:i:s') }}{% endif %}</td>
                <td>{% if dependente.updatedAt %}{{ dependente.updatedAt|date('d-m-Y H:i:s') }}{% endif %}</td>
                <td>
                    <a class="btn btn-warning btn-bg" href="{{ path('dependente_edit', { 'funcionario': funcionario.id , 'id': dependente.id }) }}">
                        <i class="glyphicon glyphicon-pencil" title="Editar"></i>
                    </a>
                    <a onclick='javascript:del("{{ path('dependente_delete', { 'id': dependente.id })}}")'
                       class="btn btn-danger btn-bg" id="deleteFuncionario" >
                        <i class="glyphicon glyphicon-trash" title="Excluir"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
